<div class="row">
  <div class="col-12 col-md-6">
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">{{note.title}}</h2>
        <p class="card-text" >
          {{note.content}}
        </p>
      </div>
    </div>
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Facilities</h2>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 location-map">
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Location map</h2>        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-primary review-card">
      <div class="card-block" >
        
        <h2 class="card-title">Customer reviews</h2>       
        
      </div>
    </div>
  </div>
</div>
